@tailwind base;
@tailwind components;
@tailwind utilities;

/* 如果需要，可以添加一些基础的自定义样式 */
@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
